{{ "\ud83d\udc4b" }} Hey, it's {{ bot_name }}, your friendly Overseerr buddy.

To list the requested movies/shows:
/requests [pending|processing|...] [count]

To search for new movies and TV shows:
/search [title]

To authorize me to access your account:
/login
/logout

First letter is enough: /s /r

Legend:
{{ "\u2753" }} = Pending
{{ "\u2b07" }} = Downloading
{{ "\u274e" }} = Partially available
{{ "\u2705" }} = Available
