Logging in authorizes me to access your Overseerr account so I can execute the queries you give me on your behalf.

Visit this link to log in using your Plex account:

{{ auth_url }}

Note: Don't share this link with anyone.
